%h1 #{@book}

= image_tag @book.avatar.url(:medium)

%br
%br

%b Author
=@book.author
%br

%b Description
=@book.description
%br

%b Publisher
=@book.publisher
%br

%b Genre
=@book.genre
%br

%b Edition
=@book.edition
%br


