=semantic_form_for([@book, @comment]) do |f|
  =f.input :description
  =f.input :rating
  =f.input :user_id, as: :select, collection: User.all
  =f.input :book_id, as: :select, collection: Book.all
  =f.submit
