%h1 User

= image_tag @user.avatar.url(:thumb)

%br
%br

%b Nickname
=@user.nickname
%br

%b First Name
=@user.first_name
%br

%b Last Name
=@user.last_name
%br

%b Country
=@user.country
%br

%b Age
=@user.age
%br
