%h1 #{@user.nickname}

= image_tag @user.avatar.url(:thumb)

%br
%br

%b E-mail
=@user.email
%br

%b First Name
=@user.first_name
%br

%b Last Name
=@user.last_name
%br

%b Country
=@user.country
%br

%b Age
=@user.age
%br
